@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
	font-family: Montserrat;
	src: url("../fonts/Montserrat-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: PlayfairDisplay;
	src: url("../fonts/PlayfairDisplay-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: Raleway;
	font-style: normal;
	src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
	font-family: Raleway;
	font-weight: bold;
	src: url("../fonts/Raleway-Bold.ttf");
}

@font-face {
	font-family: RobotoCondensed;
	font-weight: bold;
	src: url("../fonts/RobotoCondensed-Regular.ttf");
}

@font-face {
	font-family: HelveticaLTStd;
	font-weight: bold;
	src: url("../fonts/HelveticaLTStd-BoldCond.ttf");
}

@font-face {
	font-family: HelveticaLTStdRoman;
	font-weight: bold;
	src: url("../fonts/HelveticaLTStd-Roman.ttf");
}

@font-face {
	font-family: RalewaySemiBold;
	font-weight: bold;
	src: url("../fonts/Raleway-SemiBold.ttf");
}